


.bg-canary-orange {
  background-color: #blue;
}

.resizeLogo {
  width: 130px;
}

.border-canary-orange {
  border-color: #ffbd00 !important;
}

.footer-color {
  background-color: #f8f9fa;
  border-top: 2px;
}

.write-review-button-top {
  margin: 20px auto 20px 0;
}

.write-review-button-bottom {
  margin: 20px auto 20px 7%;
}

.resize-team-images {
  width: 20vh;
}

.about-page-margin {
  margin: auto 5% auto 5%;
}

.team-pictures-center {
  margin: auto;
}

.italics {

  font-weight: bold;
}

.resize-jumbotron {
  font-size: 7vh;
}

/* Left justifies the Knack results on main page */
div#kn-scene_39 {
  margin-left: 20px;
}
